<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Todo List </title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">
   
        <% for (let i=0; i<newListTask.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p> <%= newListTask[i] %> </p>
            </div>   
        <% } %>

        <form class="item" action="/" method="post">
            <input type="text" name="newTask" placeholder="Add new task" autocomplete="off">
            <button type="submit">+</button>
        </form>
        
    </div>

</body>
</html>
