body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

hr {
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 4px;
    width: 10%;
}

.top-cloud {
    position: absolute;
    right: 250px;
}

.bottom-cloud {
    position: absolute;
    top: 225px;
}

.mountain {
    position: relative;
    top: 25px;
}

h1 {
    color: #66BFBF;
    margin-top: 75px;
}

p {
    margin-top: 5px;
    margin-bottom: 0px;

}

.top-container {
    background-color: #EAF6F6;
    border-color: black;
    padding: 20px;
}

.middle-container {
    background-color: red;
    width: 200px;
    height: 200px;
    border: 20px;
    border-color: red;
    margin-left: 240px;
}

.bottom-container {
    background-color: blue;
    width: 200px;
    height: 200px;
    border: 10px;
    border-color: yellow;
    margin-left: 440px;
}
