body {
    font-family: 'Ubuntu', sans-serif;
}

#title {
    background-color: #97BFB4;
}

.logo {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
}

.navbar {
    padding: 0 0 4.5rem 0;
}

.nav-item {
    margin-right: 1rem;
}

.welcome-text {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    font-size: 3rem;
    color: white;
}

.download-button {
    margin: 5% 3% 0 0;
}


.image {
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    right: 100px;
}

.container-fluid {
    padding: 3% 15%;
}

.link-nav {
    font-family: 'Nunito', sans-serif;
}

.download-icon {
    margin-right: 10px;
}


#features {
    background-color: white;
    padding: 7% 0;
    position: relative;
    z-index: 1;
}

.feature-icon {
    color: #97BFB4;
    padding-bottom: 1rem;
}

.feature-icon:hover {
    color: #6aac9a;
    padding-bottom: 1rem;
}

.feature-div {
    text-align: center;
    margin: 10% auto;
}

.feature-h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}

.feature-text {
    color: #8f8f8f;
}

#testimonials {
    text-align: center;
    background-color: #97BFB4;
    color: white;
}

.carousel-item {
    padding: 10% 15%;
}

h2 {
    padding-bottom: 25px;
}

.testimonial-image {
    border-radius: 100%;
    width: 60px;
}

#press {
    background-color: #97BFB4;
    text-align:center;
}

.press-image {
    width: 130px;
    padding-bottom: 100px;
    margin: 0 2%;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.row-card {
    padding: 3% 2%;
}

#cta {
    background-color: #97BFB4;
    text-align: center;
    color: white;
    padding: 5% 15%;
}

#footer {
    text-align: center;
    background-color: white;
}

.footer-div {
    color: grey;
    padding: 5% 15%;
}

.footer-icone {
    padding: 0 1% 2% 0;
}

.footer-icone:hover {
    color: black;
}


@media (max-width: 1028px)  {

    .image {
        position: static;
        transform: rotate(0);
        margin-top: 10%;

    }

    .welcome {
        text-align: center;
    }

    
}
